<div class="main columns pt-0">
    <div class="column">
        <div class="hero is-small">
            <section class="hero-body">
                <div>
                    <app-hero></app-hero>
                </div>
            </section>
        </div>
        <!-- <div class="has-background-white-bis">
            <div>
                <app-cardapio></app-cardapio>
            </div>
            <div>
                <app-contato></app-contato>
            </div>
        </div> -->
    </div>
</div>