<div class="main columns">
    <div class="column">
        <div class="hero is-small">
            <app-navbar [Titulo] = "title"></app-navbar>
            <section class="hero-body">
                <div>
                    <app-hero></app-hero>
                </div>
            </section>
        </div>
        <div>
            <app-cardapio></app-cardapio>
        </div>
        <div>
            <app-contato></app-contato>
        </div>
    </div>
</div>
<footer class="footer has-background-grey-dark">
    <div class="content">
        <p class="has-text-white-bis is-family-primary">
            <strong>ElShadday</strong> - 2020 - Todos os direitos reservados.
        </p>
    </div>
</footer>