<div class="content columns" [ngClass]="(Ativo)?'cardapio cardapio-atual':'cardapio'">
    <div class="column">
        <ng-container
            *ngIf="Video != undefined && Video === true; then VideoS; else Imagem">
        </ng-container>
        
        <ng-template #Imagem>
            <img src="{{Caminho}}" alt="Placeholder image">
        </ng-template>

        <ng-template #VideoS>
            <video  width="64" height="64" autoplay loop>
            <source src="{{Caminho}}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
        </ng-template>
    </div>
    <div class="column">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{Cardapio.Nome}}</strong>
                    <br>
                    {{Cardapio.Ingredientes}}
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    
                </div>
            </nav>
        </div>
        <div class="media-right">
            <button type="button" (click)="AdicinarAoPedido('p')" [disabled]="!Ativo" class="btn btn-icon btn-success is-rounded" aria-label="done">
                <clr-icon shape="plus"></clr-icon>Pequena
            </button>
            <button type="button" (click)="AdicinarAoPedido('g')" [disabled]="!Ativo" class="btn btn-icon btn-success is-rounded" aria-label="done">
                <clr-icon shape="plus"></clr-icon>Grande
            </button>
            <button type="button" (click)="RemoverDoPedido()" [disabled]="!Ativo" class="btn btn-icon is-rounded" aria-label="home">
                <clr-icon shape="minus"></clr-icon>
            </button>
            <div class="">
                <p class="has-text-weight-medium is-family-secondary has-background-grey-lighter">{{Quantidade}}</p>
            </div>
        </div>
    </div>
            
        
</div>
