<section class="section pedido-section px-0 py-0 mb-0 pb-0 ">
    <div class="bg-semi-transparent mb-0 pb-0 ">
        
        <div class="section">
            <div class="container columns">
                <div class="column mb-0 pb-0 is-4">
                    <h1 class="title">Refeições</h1>
                    <cardapio-lista-agrupada [Pedido]="Pedido"></cardapio-lista-agrupada>
                </div>
                <div class="column mb-0 pb-0 is-8">
                    <h1 class="title">Monte sua salada</h1>
                    <app-montar-pedido></app-montar-pedido>
                </div>
            </div>
        </div>

    </div>
</section>