<section class="section pedido-section px-0 pb-2 py-0">
    <div class="bg-semi-transparent">
        
        <div class="columns">
            <div class="column is-3 ">
                <div>
                    <p class="subtitle">Dê uma olhada no nosso cardápio:</p>
                </div>
                <div class="max-height-30 overflow-y-scroll">
                    <app-cardapio></app-cardapio>
                </div>
            </div>
            <div class="column px-0 pt-0 is-9">
                <app-montar-pedido></app-montar-pedido>
            </div>
        </div>

    </div>
</section>