<div class="login-wrapper has-background-white-t box" *ngIf="!Logado">
    
    <form @slideInOut clrForm class="login">
        <section class="title mb-0">
            <h3 class="welcome">Formulário de registro</h3>
            Use nosso serviço de entrega!
            <h5 class="hint"></h5>
        </section>
        
        <div class="login-group pt-0">
            <clr-input-container>
                <label class="clr-sr-only">Nome completo</label>
                <input type="text" aria-label="Nome completo" name="Nome" clrInput placeholder="Meu nome" [(ngModel)]="Cadastro_Form.Nome" required />
                <clr-control-error>O Campo Nome é necessário para o cadastro</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label class="clr-sr-only">E-mail</label>
                <input type="text" aria-label="Email" name="Email" clrInput placeholder="E-mail" [(ngModel)]="Cadastro_Form.Email" required />
                <clr-control-error>O Campo de e-mail é necessário para o cadastro</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label class="clr-sr-only">Telefone</label>
                <input aria-label="Telefone" mask="(00) 0000-0000||(00) 0 0000-0000" name="Telefone" clrInput placeholder="(31) 999446-1428" [(ngModel)]="Cadastro_Form.Telefone" required />
                <clr-control-error>O Campo telefone é necessário para o cadastro</clr-control-error>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Senha</label>
                <input type="password" aria-label="Senha" name="Senha" clrPassword placeholder="Senha" [(ngModel)]="Cadastro_Form.Senha" required />
                <clr-control-error>A senha deve ser fornecida</clr-control-error>
            </clr-password-container>
            <clr-input-container>
                <label class="clr-sr-only">Rua</label>
                <input type="text" aria-label="Rua" name="Rua" clrInput placeholder="Minha rua" [(ngModel)]="Cadastro_Form.Rua" required />
                <clr-control-error>O Campo Rua é necessário para o cadastro</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label class="clr-sr-only">Bairro</label>
                <input type="text" aria-label="Bairro" name="Bairro" clrInput placeholder="Meu bairro" [(ngModel)]="Cadastro_Form.Bairro" required />
                <clr-control-error>O Campo Bairro é necessário para o cadastro</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label class="clr-sr-only">Número</label>
                <input type="text" aria-label="Número" name="Numero" clrInput placeholder="N° casa" [(ngModel)]="Cadastro_Form.Numero" required />
                <clr-control-error>O Campo Número é necessário para o cadastro</clr-control-error>
            </clr-input-container>
            <div [ngClass]="(EmailError || PassError || error)?'error active':'error'">
                Nome ou senha inválidos
            </div>
            <button type="submit" class="btn btn-primary" (click)="Cadastro()">Registrar-se</button>
            <a href="javascript://" (click)="SetCadastrar(false)" class="signup">Login</a>
            
            <hr>
            <article class="media">
                <figure class="media-left">
                    <clr-icon shape="phone-handset" class="image"></clr-icon>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p class="is-light has-text-weight-medium has-text-justified">{{InformacoesContato?.Telefone}} </p>
                    </div>
                </div>
            </article>
            <ng-template *ngIf="AceitaCartao">
                <figure class="media-right">
                    <p class="image is-32x32">
                        <img class="is-rounded" src="src/app/assets/visto.svg" >
                    </p>
                </figure>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            
                        </div>
                    </div>
                </article>
            </ng-template>
        </div>

    </form>

</div>
