

<p [ngClass]="EstadoNav.pagina == Link? 'active' : ''" class="mt-3 bd-notification is-primary has-text-white-bis has-text-weight-semibold nav-icon-p">
    <a (click)="ChangeToThis()" routerLink="/{{Link}}" routerLinkActive="Active" class="has-text-weight-semibold">
        <clr-icon [attr.shape]="Icon" [ngClass]="EstadoNav.pagina == Link? 'is-solid' : ''"  size="24"></clr-icon>
        <p class="is-family-primary has-text-white-bis is-size-7 has-text-weight-semibold nav-icon-p">{{Titulo}}</p>
    </a>
</p>
