body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html{

}
body{
    background: #ccc;
}
@media (min-width: 320px) and (max-width: 1023px) {
  
    body{
        overflow-x: hidden;
    }
    
}

.mat-typography h1{
    font-family: var(--clr-h1-font-family, Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif);
}

.flex-center{
    display:flex;
    justify-content: center;
}

.mx-auto{
    margin: 0 auto;
}

.relative{
    position: relative;
}

.w-100{
    width: 100%;
}

.bg-white-transparent{
    background: rgba(225, 225, 255, .5);
}
.bg-light-transparent{
    background: linear-gradient(180deg, rgb(54, 54, 54) 0%, rgba(71,73,77,0.5760679271708684) 35%, rgb(160, 156, 156) 100%);
}
.bg-dark-transparent{
    background: linear-gradient(180deg, rgb(54, 54, 54) 0%, rgba(71,73,77,0.5760679271708684) 35%, rgb(160, 156, 156) 100%);
}