<section *ngIf="Cardapios != undefined" class="cardapio-section has-background-gray-light mx-0">

    <clr-accordion *ngFor="let DiaSemana of DiasSemana" [ngClass]="(DiaSemana.number == DiaAtual)?'cardapio cardapio-atual mb-0 pb-0':'cardapio  mb-0 pb-0'">
       
        <clr-accordion-panel>

            <clr-accordion-title>
                <p class="subtitle">{{DiaSemana.day}}</p>
            </clr-accordion-title>
            
            <div *ngFor="let Cardapio of Cardapios">
          
                <clr-accordion-content *clrIfExpanded>
                    <cardapio-lista-item *ngIf="Cardapio.Dia == DiaSemana.number_string" [Pedido]="Pedido" [Cardapio]="Cardapio"></cardapio-lista-item>
                </clr-accordion-content>
            
            </div>

        </clr-accordion-panel>

    </clr-accordion>

</section>