.main{
    animation: fade-in ease-in-out .5s forwards;
    width: 100vw;
}
.stack-view-key{
    flex:initial !important;
}
.footer{
    background: linear-gradient(90deg,#ff0000,#ff4c4c 35%,#ff0000);
}
@keyframes fade-in{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translate(0px);
    }
}