<app-navbar [Titulo] = "title" [Logado]="currentUser"></app-navbar>
<app-factory-steps></app-factory-steps>
<div [@routeAnimations]="prepareRoute(outlet)" class="main">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
<app-icone-whatsapp></app-icone-whatsapp>
<app-avaliacoes></app-avaliacoes>
<footer class="footer has-background-grey-dark">
    <div class="content">
        <p class="has-text-white-bis is-family-primary">
            <strong>ElShadday</strong> - 2020 - Todos os direitos reservados.
        </p>
    </div>
</footer>
<app-scroll-top></app-scroll-top>