
.factory-steps{
    background: #31313138;
    width: 100vw;
    position: relative;
    margin: 0;
    height: 70px;
    z-index: 1;
}

@media (min-width: 340px ) and (max-width: 1023px) {
    
    .fix-bottom-on-mobile{
        position: fixed;
        bottom: 0;
        top: initial;
        background: #8c8c8ccf;
        width: 100%;
    }
    
}