
.factory-steps{
    background: rgb(80, 77, 77);
    width: 100vw;
    margin: 0;
    top: 80px;
    height: 70px;
    z-index: 1;
    place-items: center;
}

@media (min-width: 320px ) and (max-width: 1023px) {
    
    .fix-bottom-on-mobile{
        position: fixed;
        bottom: 0;
        top: initial;
        background: #8c8c8ccf;
        width: 100%;
    }
    
}