<div class="content columns is-mobile mb-0 pb-0">
    <div class="column is-4 mb-0 pb-0">
        <p>{{Complemento.Nome}}</p>
    </div>
    <div class="column is-3 mb-0 pb-0">
        <p>R$ {{Complemento.Preco}}</p>
    </div>
    <div class="column is-5">
        <div class="media-right">
            <button type="button" (click)="AdicinarAoPedido()"  class="btn btn-icon btn-success" aria-label="done">
                <clr-icon shape="plus"></clr-icon>
            </button>
            <button type="button" (click)="RemoverDoPedido()" class="btn btn-icon" aria-label="home">
                <clr-icon shape="minus"></clr-icon>
            </button>
        </div>
    </div>
</div>