<div class="columns is-vcentered border is-0 is-mobile mb-0 pb-0">
    <div class="column is-3  px-0 mb-0 pb-0">
        <p class="title has-text-grey-dark is-7 px-0">{{Complemento.Nome}}</p>
    </div>
    <div class="column mb-0 pb-0">
        <p class="subtitle is-7">R$ {{Complemento.Preco.toFixed(2)}}</p>
    </div>
    <div class="column is-4">
        <div class="media-right">
            <button type="button" (click)="AdicinarAoPedido()"  class="btn btn-icon btn-success" aria-label="done">
                <clr-icon shape="plus"></clr-icon>
            </button>
            <button type="button" (click)="RemoverDoPedido()" class="btn btn-icon" aria-label="home">
                <clr-icon shape="minus"></clr-icon>
            </button>
        </div>
    </div>
    <div class="column">
        <p class="has-text-weight-medium is-family-secondary has-background-grey-lighter">{{Quantidade}}</p>
    </div>
</div>