<clr-accordion  class="mb-0 pb-0 mx-auto">
    <clr-accordion-panel>
        <clr-accordion-title>Criticas ou sugestões
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
            <section class="title mb-0">
                <h3 class="welcome">Feeback</h3>
                
                <h5 class="hint"></h5>
            </section>
            <form clrForm clrLayout="horizontal" class="mx-auto w-100">

                <clr-input-container class="">
                    <label class="clr-sr-only">Titulo</label>
                    <input clrInput name="Mensagem" type="text" [(ngModel)]="Feedback.Titulo" required  placeholder="Insira um Titulo para seu comentário" >
                    <clr-control-error>Insira um Titulo</clr-control-error>
                </clr-input-container>
        
                <clr-input-container class="">
                    <label class="clr-sr-only">E-mail</label>
                    <label><clr-icon shape="envelope"></clr-icon></label>
                    <input clrInput name="Email" type="email" [(ngModel)]="Feedback.Email" required placeholder="Seu email">
                    <clr-control-error>O Campo de e-mail é necessário para enviar o feedback</clr-control-error>
                </clr-input-container>
                
                <clr-textarea-container class="">
                    <label class="clr-sr-only">Escreva sua mensagem aqui</label>
                    <textarea clrTextarea [(ngModel)]="Feedback.Comentario" name="Mensagem" required placeholder="Escreva sua mensagem aqui"></textarea>
                    <clr-control-helper>Escreva aqui</clr-control-helper>
                    <clr-control-error>A mensagem não pode ser enviada vazia.</clr-control-error>
                </clr-textarea-container>
                
                <button matRipple type="submit" class="btn btn-primary" (click)="SendFeedback()">Enviar</button>
            </form>  
               
            <hr>
            <article class="media">
                <figure class="media-left">
                    <clr-icon shape="phone-handset" class="image"></clr-icon>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p class="is-light has-text-weight-medium has-text-justified">Agredecemos pelo contato </p>
                    </div>
                </div>
            </article>
            <ng-template>
                <figure class="media-right">
                    <p class="image is-32x32">
                        <img class="is-rounded" src="src/assets/visto.svg" >
                    </p>
                </figure>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            
                        </div>
                    </div>
                </article>
            </ng-template>
        </clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>