.login-wrapper{
    margin-bottom:-120px;
    background: url() !important;
    min-height:initial !important;
}
.login-wrapper .login{
    padding-top: 4rem;
    min-height:initial !important;
    width: 100%;
    justify-content: start;
}