<div class="login-wrapper has-background-white-t box" *ngIf="!Cardapio">
    <form class="login">
        <section class="title mb-0">
            <h3 class="welcome">Faça seu pedido</h3>
            Use nosso serviço de entrega!
            <h5 class="hint">Entregue em até 50 minutos após o pedido.*</h5>
        </section>
        <div class="login-group pt-0">
            <clr-select-container>
                <label class="clr-sr-only">User Role</label>
                <select clrSelect name="type" [(ngModel)]="form.type">
                    <option value="local">Local Users</option>
                    <option value="admin">Administrator</option>
                </select>
            </clr-select-container>
            <clr-input-container>
                <label class="clr-sr-only">E-mail</label>
                <input type="text" name="cliente.Nome" clrInput placeholder="E-mail" [(ngModel)]="form.Nome"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Senha</label>
                <input type="password" name="cliente.Email" clrPassword placeholder="Senha" [(ngModel)]="form.Email"/>
            </clr-password-container>
            <clr-checkbox-wrapper>
                <label>Lembrar neste navegador</label>
                <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe"/>
            </clr-checkbox-wrapper>
            <div class="error">
                Nome ou senha inválidos
            </div>
            <button type="submit" class="btn btn-primary" (click)="Login()">PEDIR</button>
            <a href="javascript://" class="signup">Registrar-se para obter uma conta</a>
            
            <hr>
            <article class="media">
                <figure class="media-left">
                    <clr-icon shape="phone-handset" class="image"></clr-icon>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p class="is-light has-text-weight-medium has-text-justified">{{InformacoesContato?.Telefone}} </p>
                    </div>
                </div>
            </article>
            <ng-template *ngIf="AceitaCartao">
                <figure class="media-right">
                    <p class="image is-32x32">
                        <img class="is-rounded" src="../../assets/visto.svg" >
                    </p>
                </figure>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            
                        </div>
                    </div>
                </article>
            </ng-template>
        </div>
    </form>
</div>

<ng-template *ngIf="Cardapio">
    <cardapio-card [Cardapio]="Cardapio"></cardapio-card>
</ng-template>