<div class="login-wrapper has-background-white-t box">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Faça seu pedido</h3>
            Use nosso serviço de entrega!
            <h5 class="hint">Entregue em menos de 30 minutos.*</h5>
        </section>
        <div class="login-group">
            <clr-select-container>
                <label class="clr-sr-only">User Role</label>
                <select clrSelect name="type" [(ngModel)]="form.type">
                    <option value="local">Local Users</option>
                    <option value="admin">Administrator</option>
                </select>
            </clr-select-container>
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
            </clr-password-container>
            <clr-checkbox-wrapper>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe"/>
            </clr-checkbox-wrapper>
            <div class="error">
                Nome ou senha inválidos
            </div>
            <button type="submit" class="btn btn-primary">PEDIR</button>
            <a href="javascript://" class="signup">Registrar-se para obter uma conta</a>
            
            <hr>
            <article class="media">
                <figure class="media-left">
                    <clr-icon shape="phone-handset" class="image"></clr-icon>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p class="is-light has-text-weight-medium has-text-justified">(31) {{InformacoesContato.Telefone}} </p>
                    </div>
                </div>
            </article>
            <ng-template *ngIf="AceitaCartao">
                <figure class="media-right">
                    <p class="image is-32x32">
                        <img class="is-rounded" src="../../assets/visto.svg" >
                    </p>
                </figure>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            
                        </div>
                    </div>
                </article>
            </ng-template>
        </div>
    </form>
</div>