.navbar{
    height: 70px;
    background: rgba(255, 0, 0, 0.55);
    border-bottom: 1px solid #ccc;
    padding: 10px 24px;
}

.navbar-item:hover{
    background-color: transparent !important;
}
.navbar-brand{
    height:22px;
}
.absolute{
    position: absolute;
}