<nav class="header-nav navbar is-boxed" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="../../assets/Logo.svg" alt="ElShadday Disk Marmitex: Comida caseira">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <a target="_blank" class="mr-0" href="https://wa.me/{{Whatsapp}}?text=Olá,%20ElShadday%20 !">
                        <p class="mr-0 is-size-2 is-light has-text-weight-medium has-text-white has-text-centered">{{InformacaoContato?.Telefone}}</p>
                    </a>
                </div>
                <div style="display: flex;">
                    <div style="flex: 1;height: 200px; background-color: #f4f5f8"></div>
                    <div class="divider is-vertical has-text-white-bis">Marmitex</div>
                    <div style="flex: 1;height: 200px; background-color: #f4f5f8"></div>
                </div>
                <!--                
                    <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                    Mais
                    </a>
            
                    <div class="navbar-dropdown">
                    <a class="navbar-item">
                        
                    </a>
                    <a class="navbar-item">
                    </a>
                    <a class="navbar-item">
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                    </a>
                    </div>
                </div> -->
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                    <a class="button is-light">
                        <strong>Instagram</strong>
                    </a>
                    <a class="button is-primary">
                        Facebook
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>