.navbar{
    height: 80px;
    background: rgb(255, 82, 82);
    border-bottom: 1px solid #ccc;
    padding: 10px 24px;
}
.m-number{
    margin: 0 auto;
    color: #ccc;
    position: relative;
}
.bg-transparent{
    background: transparent;
}
@media screen and (max-width: 1023px){
    .navbar-menu {
        background-color: #ff8686;
        box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
        padding: 0.5rem 0;
    }
}
.navbar-item:hover{
    background-color: transparent !important;
}
.navbar-brand{
    height:22px;
}
.absolute{
    position: absolute;
}