<nav class="header-nav navbar is-boxed" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="../../assets/Logo.svg" alt="ElShadday Disk Marmitex: Comida caseira">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div style="display: flex;">
                    <div style="flex: 1;height: 20px; background-color: #ff8686"></div>
                    <p class="divider is-vertical has-text-white-bis">Marmitex</p>
                    <div style="flex: 1;height: 20px; background-color: #ff8686"></div>
                </div>
                <div class="navbar-item m-number">
                    <a target="_blank" class="mr-0" href="https://wa.me/{{Whatsapp}}?text=Olá,%20ElShadday%20 !">Ligue já!
                        <p class="mr-0 is-size-3 is-size-5-mobile is-light has-text-weight-medium has-text-white has-text-centered">{{InformacaoContato?.Telefone}}</p>
                    </a>
                </div>
                <!--                
                    <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                    Mais
                    </a>
            
                    <div class="navbar-dropdown">
                    <a class="navbar-item">
                        
                    </a>
                    <a class="navbar-item">
                    </a>
                    <a class="navbar-item">
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                    </a>
                    </div>
                </div> -->
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://instagram.com/{{InformacaoContato?.Instagram}}" target="_blank" class="button is-light bg-transparent" title="Acesse nosso Instagram">
                            <img class="image is-32x32" src="../../assets/imagens/icones/instagram.svg" alt="Instagram">
                        </a>
                        <a href="#" >
                            
                        </a>
                        <button (click)="Logout()" class="button is-dark" *ngIf="Logado" >
                            Sair
                        </button>
                        <button (click)="AbrirModalEntrar()" class="button is-dark" *ngIf="!Logado" >
                            Entrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
