.entrega-bg{
    background: url("src/assets/imagens/fundos/entrega/Marmita-térmica.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}