<section class="section entrega-bg">

    <ng-container *ngIf="currentUser; then isLogado; else Deslogado">
    </ng-container>

    <ng-template #isLogado>
        
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-white">Meus pedidos</h1>
                <app-meus-pedidos></app-meus-pedidos>
            </div>
        </div>

    </ng-template>

    <ng-template #Deslogado>
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-white">Registre-se para acompanhar os seus pedidos</h1>
                <registro-cliente></registro-cliente>
            </div>
        </div>
    </ng-template>

</section>