<section class="pedido-section">
    
    <div class="has-background-white-bis">
        <h3 class="box subtitle">Envio de Pedido</h3>
    </div>
    
    <div class="section">

        <div class="columns is-1 px-4">
            <div class="column mb-0 pb-0 is-4 box has-border-right-straight">
                <h1 class="title">Refeições</h1>
                <cardapio-lista-agrupada [Pedido]="Pedido"></cardapio-lista-agrupada>
            </div>
            <div class="column mb-0 pb-0 is-4 bg-semi-transparent">
                <h1 class="title has-text-dark">Complemento Opcional<h3>*</h3></h1>
                <app-montar-pedido [Pedido]="Pedido"></app-montar-pedido>
            </div>
            <div class="column mb-0 pb-0 box has-border-left-straight">
                <h1 class="title">Prévia Pedido</h1>
                <app-exibicao-pedido [Pedido]="Pedido"></app-exibicao-pedido>
                <h5 class="is-italic has-background-primary-light">*Clientes cadastrados podem verificar os seus pedidos e confirmar o recebimento na pagina <a routerLink="/entrega" routerLinkActive="Active">Entrega.</a></h5>
            </div>
        </div>

    </div>
    
</section>