<table mat-table [dataSource]="CardapioTable.dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Dia">
    <th mat-header-cell *matHeaderCellDef> Dia </th>
    <td mat-cell *matCellDef="let element"> {{element.Dia}} </td>
  </ng-container>

  <ng-container matColumnDef="Nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.Nome}} </td>
  </ng-container>

  <ng-container matColumnDef="Ingredientes">
    <th mat-header-cell *matHeaderCellDef> Ingredientes </th>
    <td mat-cell *matCellDef="let element"> {{element.Ingredientes}} </td>
  </ng-container>

  <ng-container matColumnDef="Tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
  </ng-container>

  <ng-container matColumnDef="Src">
    <th mat-header-cell *matHeaderCellDef> Recurso visual </th>
    <td mat-cell *matCellDef="let element">
      <figure class="image is-5by3">
        <img src="{{element.Src}}" alt="Placeholder image">
      </figure> 
    </td>
  </ng-container>

  <ng-container matColumnDef="SrcType">
    <th mat-header-cell *matHeaderCellDef> Tipo Recurso visual </th>
    <td mat-cell *matCellDef="let element"> {{element.SrcType}} </td>
  </ng-container>

  <ng-container matColumnDef="Acoes">
    <th mat-header-cell *matHeaderCellDef> Acoes </th>
    <td mat-cell *matCellDef="let element">
      <button class="button button-primary" (click)="Editar(element)">Editar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="CardapioTable.displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: CardapioTable.displayedColumns;"></tr>
</table>