<div class="main pt-0">
    <div class="hero is-small">
        <section class="hero-body">
            <div>
                <app-hero></app-hero>
            </div>
        </section>
    </div>
    <div>
        <div class="has-background-grey-light">
            <app-cardapio-card></app-cardapio-card>
        </div>
    </div>
    <div class="container">
        <div>
            <app-contato></app-contato>
        </div>
    </div>
    <div class="bg-ls">
        <div class="columns px-3 mb-0">
            <div class="column section is-6 bg-light-transparent">
                <p class="title">Onde estamos:</p>
                <app-localizacao></app-localizacao>
            </div>
            <div class="column section is-6 bg-light-transparent">
                <p class="title">Avalie o nosso trabalho:</p>
            </div>
        </div>
    <div>
</div>