.icone-wp{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 70px;
    border-radius: 180px;
    margin:0 0 5px 5px;
    background: white;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}