.icon-container{
    background: white;
    border-radius:180px;
    margin:0 0 5px 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
}


@media (min-width: 340px ) and (max-width: 1023px) {
    
    .icon-container{
        bottom: 80px;
    }
    
}