
            <td class="">
                <p class="subtitle is-5">{{Pedido.Cardapios[0].Nome}}</p>
            </td>
            <td class="">
                <p class="subtitle is-5"><clr-icon shape="dollar"></clr-icon>{{Pedido.Preco.toFixed(2)}}</p>
            </td>
            <td class="">
                <p class="subtitle is-5">{{Pedido.Cardapios[0].Tamanho}}</p>
            </td>
            <td class="">
                <p class="subtitle">{{Pedido.DataEnvio}}</p>
            </td>
            <td class="">
                <div class="columns">
                    <div class="column">
                        <button class="button is-success" title="{{InformacoesContato?.Telefone}}">
                            <div class="tile">
                                <figure class="image is-16x16">
                                    <img src="../../assets/imagens/icones/whatsapp.svg">
                                </figure>
                            </div>
                            <div class="tile ml-3"  *ngIf="Pedido?.Aberto">
                                <span>Confirmar recebimento</span>
                            </div>
                            <div class="tile ml-3"  *ngIf="!Pedido?.Aberto">
                                <span>Pedido concluido</span>
                            </div>
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-warning">
                            <clr-icon shape="plus"></clr-icon>
                        </button>
                    </div>
                </div>
            </td>