<clr-accordion  class="mb-0 pb-0">
    <clr-accordion-panel>
        <clr-accordion-title>Criticas ou sugestões
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
            <div class="pt-0">
                    
                <button type="submit" class="btn btn-primary" (click)="Login()">Enviar</button>
               
                <hr>
                <article class="media">
                    <figure class="media-left">
                        <clr-icon shape="phone-handset" class="image"></clr-icon>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="is-light has-text-weight-medium has-text-justified">Agredecemos pelo contato </p>
                        </div>
                    </div>
                </article>
                <ng-template>
                    <figure class="media-right">
                        <p class="image is-32x32">
                            <img class="is-rounded" src="../../assets/visto.svg" >
                        </p>
                    </figure>
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                
                            </div>
                        </div>
                    </article>
                </ng-template>
            </div>
        </clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>