<div class="main pt-0">
    <div id="heroDiv" class="hero is-medium ">
        <section class="hero-body" id="main-hero">
            <div>
                <app-hero></app-hero>
            </div>
        </section>
    </div>
    <div>
        <div class="cardapio-bg hero is-fullheight" id="cardapio">
            <app-cardapio-card></app-cardapio-card>
        </div>
    </div>
    <div class="container" id="contato">
        <div>
            <app-contato></app-contato>
        </div>
    </div>
    <div class="bg-ls hero is-medium" id="localizacao">
        <div class="columns px-3 mb-0 height-inherit">
            <div class="column section is-6 bg-light-transparent">
                <p class="title is-4 has-text-white">Onde estamos:</p>
                <app-localizacao></app-localizacao>
            </div>
            <div class="column section is-6 bg-dark-transparent height-inherit">
                <p class="title is-4 has-text-white">Avalie o nosso trabalho:</p>
                <app-estrelas></app-estrelas>
            </div>
        </div>
    <div>
</div>