<div class="main pt-0">
    <div id="heroDiv" class="hero is-medium">
        <section class="hero-body main-hero">
            <div>
                <app-hero></app-hero>
            </div>
        </section>
    </div>
    <div>
        <div class="cardapio-bg hero is-fullheight" id="cardapio">
            <div class="hero-body bg-light-transparent">
                <app-cardapio-card></app-cardapio-card>
            </div>
        </div>
    </div>
    <section class="hero is-danger is-medium">
        <div class="hero-body bg-light-transparent">
          <div class="container">
              <h2 class="subtitle">
                  <div class="columns">
                      <div class="column">
                        <h1 class="title">
                            Contato
                        </h1>
                        <app-contato></app-contato>
                   </div>
                   <div class="column">
                        <h1 class="title">
                            Atendimento
                        </h1>
                        <app-atendimento></app-atendimento>
                   </div>
                   <div class="column bg-ls" id="localizacao">
                        <div class="is-6 bg-light-transparent">
                            <p class="title is-4 has-text-warning">Onde estamos:</p>
                            <app-localizacao></app-localizacao>
                        </div>
                        <div class="hero is-small is-hidden-desktop">
                            <div class="section height-inherit estrelas-section">
                                <app-estrelas></app-estrelas>
                            </div>
                        </div>
                   </div>
               </div>
            </h2>
          </div>
        </div>
    </section>
    <div class="hero is-small foto-marmitex is-hidden-touch">
        <div class="section bg-dark-transparent height-inherit estrelas-section">
            <app-estrelas></app-estrelas>
        </div>
    <div>
</div>
