<section @fadeIn *ngIf="Sobre != undefined" class="section hero-section columns mt-0">
    <div class="right-column column px-4 py-4 box" [ngClass]="currentUser ? 'is-12' : ''">
        <div class="tile">
        </div>
        <h1 class="title is-1 has-text-weight-semibold has-text-warning has-text-centered">{{Sobre.Servico}}</h1>
        <h2 class="ls-1 title is-4 has-text-weight-medium has-text-white has-text-centered">{{Sobre.Slogan}}</h2>
        <p class="is-size-5 is-light has-text-weight-medium has-text-white has-text-centered" innerHTML="{{Sobre.Descricao}}"></p>
        <div class="is-divider" data-content="Preço"></div>
        <h2 class="ls-1 title is-hidden-touch is-4 has-text-weight-medium has-text-white has-text-centered">Normal: {{PrecoMarmitex?.Grande}} | Pequena: {{PrecoMarmitex?.Pequena}}</h2>
        <div class="tile mt-3 is-ancestor is-hidden-desktop">
            <div class="tile is-parent is-12">
                <article class="tile is-child">
                    <div class="content">
                        <a rel="noopener" target="_blank" class="mr-0" href="tel:{{InformacaoContato?.Whatsapp}}">
                            <p class="mr-0 is-size-3 subtitle underline--magical is-light has-text-weight-medium has-text-white has-text-centered">{{InformacaoContato?.Telefone}}</p>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <h3 class="subtitle mt-2 has-text-weight-medium has-text-warning has-text-centered">Funcionamento de {{InformacaoContato?.HorarioAtendimento}}</h3>
        <div class="container pl-6 mt-6">
            
        </div>
    </div>
    <div class="column is-4 mr-2" *ngIf="!currentUser">
        <login-registro-cliente></login-registro-cliente>
    </div>
</section>
<div *ngIf="loading" class="spinner-border spinner-border-sm">Carregando</div>