<section *ngIf="Sobre != undefined" class="section hero-section columns mt-0 pr-0">
    <div class="column">
        <h1 class="txt-shadow title is-1 has-text-weight-semibold has-text-white has-text-justified">{{Sobre.Servico}}</h1>
        <h2 class="txt-shadow ls-1 title is-4 has-text-weight-medium has-text-white is-italic">{{Sobre.Slogan}}</h2>
        <p class="txt-shadow is-size-5 is-light has-text-weight-medium has-text-white has-text-justified" innerHTML="{{Sobre.Descricao}}"></p>
    </div>
    <div class="column">
        <registro-cliente [Telefone]=""></registro-cliente>
    </div>
</section>
